.container {
    display: flex;
    justify-content: space-between; /* Align paragraphs at start, center, and end */
    background-color: black; /* Black container */
    width: Fixed (1,440px)px;
height: Hug (32px)px;
padding: 8px 274px 8px 274px;
gap: 0px;
opacity: 0px;


}

.paragraph {
    font-family: Simplon Norm;
font-size: 12px;
font-weight: 400;
line-height: 14.4px;
letter-spacing: 1px;
text-align: left;
color :#EB4C6B
}

.start {
    justify-self: flex-start;
}

.center {
    justify-self: center;
}

.end {
    justify-self: flex-end;
}
